/*
Theme Name: HaifaRu-V2
Author: Magru
Author URI: http://magru.org/
Version: 1.0
License: WTFPL – Do What the Fuck You Want to Public License
License URI: http://www.wtfpl.net/
Text Domain: haifa
*/

.post-thumb-wrapper{
    background-size: cover;
    background-position: center;
}

.thumb-link{
    height: 113px;
}