
.error-content {
    background: url(http://i.giphy.com/jcxtvm2bsZDH2.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% cover;
    font-family: 'Titillium Web', sans-serif;
    color: #fff;
    background-color: #1BCF00;
}

.travolta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    min-height: 600px;
    text-align: center;
}

.travolta p{
    font-size: 30px;
}